body{
	background: #ebf5fb;
}
h1{
	color: #21618c;
	text-align: center;
}
.area{
	margin-top: 7%;
}
.h2_sides{
	display: inline-block;
	width: 30%;
	margin-left: 2%;
	margin-top: 5%;
	color: #2874a6;
	text-align: center;
}
.input_sides{
	display: inline-block;
	width: 25%;
	margin-left: 6%;
	text-align: center;
	color: #21618c;
	border: solid #21618c;
	padding-top: .6%;
	padding-bottom: .6%;
	font-size: 20px;
	border-radius: 20%;
}

.h2_base_height{
	display: inline-block;
	width: 25%;
	margin-left: 22%;
	margin-top: 5%;
	color: #2874a6;
}
.input_base_height{
	display: inline-block;
	width: 25%;
	margin-left: 15%;
	text-align: center;
	color: #21618c;
	border: solid #21618c;
	padding: .8%;
	font-size: 20px;
	border-radius: 20%;
}

.area_type{
	display: inline-block;
	margin-left: 22%;
}
h3{
	display: inline-block;
	margin-left: 1%;
	margin-top: 3%;
	color: #2e86c1;
}
.button{
	font-size: 1.5rem;
	background: #2e86c1;
	color:  #fdfefe;
	border-radius: 50%;
	margin: 1%;
	padding-top: .8%;
	padding-bottom: .8%;
	border: solid #21618c;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	transition-duration: .5s;
	transition-property: padding, color, background, border;
}
button:hover{
	background: #fdfefe;
	color: #2e86c1;
	border: solid #2e86c1;
	padding: 1.2%;
}

.hide{
	display: none;
}
.show{
	display: block;
}