body{
	background: #ebf5fb;
}
h1{
	color: #21618c;
	text-align: center;
}
h2{
	display: inline-block;
	width: 25%;
	margin-left: 20%;
	margin-top: 5%;
	color: #2874a6;

}
input{
	display: inline-block;
	width: 25%;
	margin-left: 15%;
	text-align: center;
	color: #21618c;
	border: solid #21618c;
	padding: .8%;
	font-size: 20px;
	border-radius: 20%;
}
button{
	font-size: 1.5rem;
	background: #2e86c1;
	color:  #fdfefe;
	border-radius: 50%;
	margin: 1%;
	padding-top: .8%;
	padding-bottom: .8%;
	border: solid #21618c;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	transition-duration: .5s;
	transition-property: padding, color, background, border;
}
button:hover{
	background: #fdfefe;
	color: #2e86c1;
	border: solid #2e86c1;
	padding: 1.2%;
}